	
<div >

	<form  ng-model="form"  enctype="multipart/form-data" action="" method="POST">
		<div class="control-group">
			<label class="control-label" for="inputTitle">Title</label>
			<div class="controls">
				<input ng-model="title" id="inputTitle" type="text" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="text">Text</label>
			<div class="controls">
				<textarea ng-model="bigText" name="text" id="text" cols="30" rows="10"></textarea>
			</div>
		</div>
		<div class="form-group">
		<label for="width">	Width: </label>
			<select class="form-control" ng-model="width">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select> 
		</div>
		<div class="form-group">
		<label for="height">Height:</label>
			<select class="form-control " ng-model="height">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select> 
		</div class="control-group">

		<div  ng-include src="picsTMPL" class=""></div>
		<button type="button" class="glyphicon glyphicon-floppy-disk btn btn-primary btn-lg btn-block">Save</button>
	</form> 
</div>


