	


<ul class="nav nav-sidebar" ng-model="form"  enctype="multipart/form-data"  >
	<li class="control-group">
		<label class="control-label" for="companyName">Company</label>
		<div class="controls">
			<input ng-model="companyName" id="companyName" type="text" />
		</div>
	</li>
 	<li class="control-group">
		<label class="control-label" for="link">Link</label>
		<div class="controls">
			<input ng-model="link" id="link" type="text" />
		</div>
	</li>
	<li class="control-group">
		<label class="control-label" for="text">Text</label>
		<div class="controls">
			<textarea ng-model="bigText" name="text" id="text" cols="20" rows="15"></textarea>
		</div>
	</li>
	<li class="form-group">
		<label for="width">	Size: </label>
		<select class="form-control" ng-model="format">
			<option>1</option>
			<option>2</option>
		</select> 
	</li>
	<div class="content">
		<span class="upload_btn" onclick="show_popup('popup_upload')">Click to upload photo</span>
	</div><!-- content -->  

	<button type="button" class="glyphicon glyphicon-floppy-disk btn btn-primary btn-lg btn-block" ng-click="addArticle(companyName,link,bigText,format); cleanForm()">Save</button>

</ul> 



