<ul class="article-list">
	<li>
		<a class="article-list-link" href="/lifestyle/stil-zhizni/10-layfhakov-dlya-teh-kto-ne-lyubit-byt-bystro-i-prosto/" data-ga="small-colored">
			<img src="" alt="">
			<span class="article-summary">
				<span class="article-summary-date">2 марта 2016</span>
				<span class="article-summary-w-icon">
					<span class="article-summary-views" style="display: none;"></span>
					<span class="article-summary-likes">5</span>
				</span>
			</span>        
			<div class="promo-code"><br></div>    
		</a>
		<span class="article-list-rubric">
		<a href="/lifestyle/stil-zhizni/10-layfhakov-dlya-teh-kto-ne-lyubit-byt-bystro-i-prosto/">Стиль жизни</a>
		</span>
		<h3>
			<a href="/lifestyle/stil-zhizni/10-layfhakov-dlya-teh-kto-ne-lyubit-byt-bystro-i-prosto/" data-ga="small-colored">10 лайфхаков для&nbsp;тех, кто не&nbsp;любит быт: быстро и&nbsp;просто!</a>
		</h3>
	</li>

</ul>