<!-- <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form>
				<fieldset>
						<legend>
						 	<label>Name</label>
						 	<input type="text" />
						 	<label>Password</label>
							<input type="password" /> 
						 	<button type="submit" class="btn">Log in</button>
						</legend> 
					 	
				</fieldset>
			</form>
		</div>
	</div>
</div> -->
<!-- 
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-horizontal">
				<div class="control-group">
					 <label class="control-label" for="inputEmail">Email</label>
					<div class="controls">
						<input id="inputEmail" type="text" />
					</div>
				</div>
				<div class="control-group">
					 <label class="control-label" for="inputPassword">Password</label>
					<div class="controls">
						<input id="inputPassword" type="password" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						 <label class="checkbox"><input type="checkbox" /> Remember me</label> <button type="submit" class="btn">Sign in</button>
					</div>
				</div>
			</form> <span class="label">Label</span>
		</div>
	</div>
</div>
 -->


<form class="form-inline">
			<!-- <div ng-controller="checkboxController"> -->
				<fieldset >
					<p>
						Name<input type="text" /><label class="checkbox"></label> Password<input type="password" /><label class="checkbox"><input type="checkbox" /> Remember me</label><button class="btn" type="submit">Log in</button>
					</p>
						<label>Admin:
						    <input  type="checkbox" ng-model="checkboxModel.val">
						  </label><br/>
						                          <tt >value1 = {{checkboxModel.val}}</tt><br/>
				<h1>{{articleController.size}}</h1>

				</fieldset>
			<!-- </div> -->
			</form>