
<div class="container-fluid">

	<form class="form-inline">
		<fieldset class="navbar-collapse collapse" >
			<ul class="nav navbar-nav navbar-right">
				<li><label class="control-label" for="name" contenteditable="true">Name</label>
					<div>
						<input id="name" class="form-control" type="text" /> 
					</div>
				</li>
				<li><label for="password">Password</label>
					<div>
						<input id="password" class="form-control" type="password" />
					</div>
				</li>
				<li><label class="checkbox"><input type="checkbox" />Remember me</label></li>
				<li><button class="btn btn-default" type="submit">Log in</button></li>
				
			</ul>
			<label >Admin:
				<input  type="checkbox" ng-model="checkboxModel"  ng-bind="adminka(checkboxModel)">

			</label>
			<span ng-bind="checkboxModel"></span>

		</fieldset>
	</form>
</div>
