        <!-- <div class="content">
            <span class="upload_btn" onclick="show_popup('popup_upload')">Click to upload photo</span>
            <div id="photo_container">
            </div>
        </div> -->
        <!-- content -->    
    <div id="photo_container"></div>
    <!-- The popup for upload new photo -->
    <div id="popup_upload">
        <div class="form_upload">
            <span class="close" onclick="close_popup('popup_upload')">x</span>
            <h2>Upload photo</h2>
            <form action="ajax/upload_photo.php" method="post" enctype="multipart/form-data" target="upload_frame" onsubmit="submit_photo()">
                <input type="file" name="photo" id="photo" class="file_input">
                <div id="loading_progress"></div>
                <input type="submit" value="Upload photo" id="upload_btn">
            </form>
            <iframe name="upload_frame" class="upload_frame"></iframe>
        </div>
    </div>

    <!-- The popup for crop the uploaded photo -->
    <div id="popup_crop">
        <div class="form_crop">
            <span class="close" onclick="close_popup('popup_crop')">x</span>
            <h2>Crop photo</h2>
            <!-- This is the image we're attaching the crop to -->
            <img id="cropbox" />
            
            <!-- This is the form that our event handler fills -->
            <form ng-controller="photoEditorCtrlr">
                <input type="hidden" id="x" ng-model="x" name="x" />
                <input type="hidden" id="y" ng-model="y" name="y" />
                <input type="hidden" id="w" ng-model="w" name="w" />
                <input type="hidden" id="h" ng-model="h" name="h" />
                <input type="hidden" id="photo_url" ng-model="phUrl" name="photo_url"/>
                <input type="button" value="Crop Image" id="crop_btn" ng-click="crop_photo()" onclick="crop_photo()" />
            </form>
        </div>
    </div>